<body>
  <section class="header">
    <app-header></app-header>
  </section>
  <section class="contenedor">
    <section class="buscador">
      <div class="group">
        <section class="inicio d-flex align-items-center" style="font-weight: bold;">
          <p class="mr-2">Inicio:</p>
          <input type="date" class="input" id="Inicio" [(ngModel)]="fechaInicio">
        </section>
        <section class="final d-flex align-items-center" style="font-weight: bold;">
          <p class="mr-2">Final:</p>
          <input type="date" class="input" id="Fin" [(ngModel)]="fechaFin" >
        </section>
        <section class="filtrar">
          <button (click)="Filtrar(fechaInicio,fechaFin)" class="btn" id="filtrar" type="button">Filtrar</button>
        </section>
        <section class="resetear">
          <button class="btn" type="button" id="resetear" (click)="ngOnInit()">Todos</button>
        </section>
        <section class="exportar">
          <button class="btn" type="button" id="exportar" (click)="exportToExcel()">Exportar</button>
        </section>
      </div>
    </section>
    <section class="tabla-contenedor">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Folio</th>
            <th scope="col">Empleado</th>
            <th scope="col">Fecha</th>
            <th scope="col">Numero Depto</th>
            <th scope="col">Cod Máquina</th>
            <th scope="col">Numero Parte</th>
            <th scope="col">P. Inspeccionadas</th>
            <th scope="col">P. Scrap</th>
            <th scope="col">P. Retrabajo</th>
            <th scope="col">Total P.R.</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr *ngFor="let registro of RegistroFinal">
              <td>{{registro.id}}</td>
              <td>{{registro.empleados.nombre}}</td>
              <td>{{registro.fecha}}</td>
              <td>{{registro.numerodp}}</td>
              <td>{{registro.codigomq}}</td>
              <td>{{registro.numerop}}</td>
              <td>{{ registro.pzainspc !== null ? formatNumber(registro.pzainspc) : '' }} pzas</td>
              <td>{{ registro.pzarecha !== null ? formatNumber(registro.pzarecha) : '' }} pzas</td>
              <td>{{ registro.pzaretra !== null ? formatNumber(registro.pzaretra) : '' }} pzas</td>
              <td>{{ registro.totalrecha !== null ? formatNumber(registro.totalrecha) : '' }} pzas</td>
              <td>
                <svg (click)="verInfo(registro.id)" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="ver" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 48 48"><g fill="none" stroke-linejoin="round" stroke-width="4"><rect width="28" height="34" x="13" y="10" fill="#2F88FF" stroke="#000"/>
                  <title>Toda la Información</title><path stroke="#000" stroke-linecap="round" d="M35 10V4H8C7.44772 4 7 4.44772 7 5V38H13"/><path stroke="#fff" stroke-linecap="round" d="M21 22H33"/><path stroke="#fff" stroke-linecap="round" d="M21 30H33"/></g></svg>
              </td>
            </tr>
        </tbody>
      </table>
    </section>
  </section>
</body>
<!-- Modal PARA VER TODA LA INFORMACIÓN-->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Datos del registro</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row g-4">
          <div class="col-md-6">
            <label for="InputEmpleado" class="form-label" style="font-weight: bold;">Empleado</label>
            <input type="text" class="form-control" id="InputEmpleado" value="{{empleado}}" disabled>
          </div>
          <div class="col">
            <label for="InputTurno" class="form-label" style="font-weight: bold;">Turno</label>
            <input type="text" class="form-control" id="InputTurno" value="{{turno}}" disabled>
          </div>
          <div class="col">
            <label for="InputFecha" class="form-label" style="font-weight: bold;">Fecha</label>
            <input type="text" class="form-control" id="InputFecha" value="{{fecha}}" disabled>
          </div>
          <div class="col">
            <label for="InputSemana" class="form-label" style="font-weight: bold;">Semana</label>
            <input type="text" class="form-control" id="InputSemana" value="{{semana}}" disabled>
          </div>
        </div>
        <div class="row g-2">
          <div class="col-md-8">
            <label for="InputDepartamento" class="form-label" style="font-weight: bold;">Departamento</label>
            <input type="text" class="form-control" id="InputDepartamento" value="{{departamento}}" disabled>
          </div>
          <div class="col">
            <label for="InputNoDepartamento" class="form-label" style="font-weight: bold;">Numero Departamento</label>
            <input type="text" class="form-control" id="InputNoDepartamento" value="{{numdepto}}" disabled>
          </div>
        </div>
        <div class="row g-2">
          <div class="col-md-8">
            <label for="InputMaquina" class="form-label" style="font-weight: bold;">Máquina</label>
            <input type="text" class="form-control" id="InputMaquina" value="{{maquina}}" disabled>
          </div>
          <div class="col">
            <label for="InputCodMaquina" class="form-label" style="font-weight: bold;">Codigo Máquina</label>
            <input type="text" class="form-control" id="InputCodMaquina" value="{{codmaq}}" disabled>
          </div>
        </div>
        <div class="row g-2">
          <div class="col-md-8">
            <label for="InputSubensamble" class="form-label" style="font-weight: bold;">Subensamble</label>
            <input type="text" class="form-control" id="InputSubensamble" value="{{subensamble}}" disabled>
          </div>
          <div class="col">
            <label for="InputNumParte" class="form-label" style="font-weight: bold;">Número de parte</label>
            <input type="text" class="form-control" id="InputNumParte" value="{{numparte}}" disabled>
          </div>
        </div>
        <div class="row g-4">
          <div class="col">
            <label for="InputInspeccionadas" class="form-label" style="font-weight: bold;">Pza Inspeccionadas</label>
            <input type="text" class="form-control" id="InputInspeccionadas" [value]="formatNumber(pzainspec)" disabled>
          </div>
          <div class="col">
            <label for="InputRechazadas" class="form-label" style="font-weight: bold;">Pza Scrap</label>
            <input type="text" class="form-control" id="InputRechazadas" [value]="formatNumber(pzarecha)" disabled>
          </div>
          <div class="col">
            <label for="InputRetrabajo" class="form-label" style="font-weight: bold;">Pza Retrabajo</label>
            <input type="text" class="form-control" id="InputRetrabajo" [value]="formatNumber(pzaretra)" disabled>
          </div>
          <div class="col">
            <label for="InputTotalRechazadas" class="form-label" style="font-weight: bold;">Total pza Rechazadas</label>
            <input type="text" class="form-control" id="InputTotalRechazadas" [value]="formatNumber(pzatotalrecha)" disabled>
          </div>
        </div>
        <div class="row">
          <label for="InputDefectos" class="form-label" style="font-weight: bold;">Defectos:</label>
          <ul class="form-control">
            <li *ngFor="let defecto of defectos">
              -{{defecto.defecto}},{{defecto.tipo}}:{{defecto.cantidad}}
            </li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
