<body>
  <section class="header">
    <app-header></app-header>
  </section>
  <section class="contenedor">
    <section class="buscador">
      <div class="group">
        <svg class="icon" aria-hidden="true" viewBox="0 0 24 24"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
        <input placeholder="Buscar" type="search" class="input">
      </div>
    </section>
    <section class="tabla-contenedor">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Semana</th>
            <th scope="col">No Departamento</th>
            <th scope="col">Cod Maquina</th>
            <th scope="col">No Parte</th>
            <th scope="col">P. Inspeccionadas</th>
            <th scope="col">P. Rechazadas</th>
            <th scope="col">P. Retrabajo</th>
            <th scope="col">Total P.R.</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>Mark2</td>
            <td>ahsgh12</td>
            <td>Mark2</td>
            <td>ahsgh12</td>
            <td>Otto</td>
            <td>Activo</td>
            <td>
              <svg class="ver" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 48 48"><g fill="none" stroke-linejoin="round" stroke-width="4"><rect width="28" height="34" x="13" y="10" fill="#2F88FF" stroke="#000"/>
                <title>Toda la Información</title><path stroke="#000" stroke-linecap="round" d="M35 10V4H8C7.44772 4 7 4.44772 7 5V38H13"/><path stroke="#fff" stroke-linecap="round" d="M21 22H33"/><path stroke="#fff" stroke-linecap="round" d="M21 30H33"/></g></svg>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
            <td>ahsgh12</td>
            <td>fat</td>
            <td>ahsgh12</td>
            <td>Activo</td>
            <td>Editar</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
            <td>ahsgh12</td>
            <td>fat</td>
            <td>ahsgh12</td>
            <td>Activo</td>
            <td>Editar</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
            <td>fat</td>
            <td>ahsgh12</td>
            <td>ahsgh12</td>
            <td>Activo</td>
            <td>Editar</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
            <td>fat</td>
            <td>ahsgh12</td>
            <td>ahsgh12</td>
            <td>Activo</td>
            <td>Editar</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
            <td>ahsgh12</td>
            <td>fat</td>
            <td>ahsgh12</td>
            <td>Activo</td>
            <td>Editar</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
            <td>ahsgh12</td>
            <td>fat</td>
            <td>ahsgh12</td>
            <td>Activo</td>
            <td>Editar</td>
          </tr>
          <tr>
            <td>8</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
            <td>ahsgh12</td>
            <td>fat</td>
            <td>ahsgh12</td>
            <td>Activo</td>
            <td>Editar</td>
          </tr>
          <tr>
            <td>9</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
            <td>ahsgh12</td>
            <td>fat</td>
            <td>ahsgh12</td>
            <td>Activo</td>
            <td>Editar</td>
          </tr>
          <tr>
            <td>10</td>
            <td>Jacob</td>
            <td>fat</td>
            <td>ahsgh12</td>
            <td>Thornton</td>
            <td>fat</td>
            <td>ahsgh12</td>
            <td>Activo</td>
            <td>Editar</td>
          </tr>
        </tbody>
      </table>
    </section>
  </section>
</body>
