*{
  background-color: #005ba2;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.contenedor{
  margin-top: 5%;
  margin-block-end: 20%;
}
img{
  height: 70%;
  width: 70%;
}
.icono{
  display: flex;
  justify-content: center;
  align-items: center;
}
.formulario{
  margin-left: 5%;
}
.btn{
  background-color: white;
  color: black;
  font-weight: bold;
}
.btn:hover{
  background-color: #005ba2;
  color: white;
  border-color: white;
}
/* Estilo para el mensaje de credenciales invalidas*/
.error-message {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff0000;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  width: 100%;
  display: none;
}

.error-message.active {
  display: block;
}


/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
  .contenedor{
    margin-top: 30%;
    margin-block-end: 80%;
  }
  .formulario{
    padding: 0 10%;
    margin-left: 0;
  }
  img{
    height: 80%;
    width: 80%;
  }
}
/* Estilos para Tabletas */
@media only screen and (max-width: 850px) {
  .contenedor{
    margin-top: 25%;
    margin-block-end: 100%;
  }
  .formulario{
    padding: 0 10%;
    margin-left: 0;
  }
  img{
    height: 80%;
    width: 80%;
  }
}

