<body>
  <section class="header">
    <app-header-movil></app-header-movil>
  </section>
  <section class="contenedor">
    <section class="formulario">
      <form class="row" (ngSubmit)="submit(form.value)" #form="ngForm">
        <div class="row g-3">
          <div class="col">
            <label for="Turno" class="form-label" style="font-weight: bold;">Turno</label>
            <div class="input-group">
              <select [(ngModel)]="crearRegis.turno" name="turno" class="form-select" id="Turno" aria-label="Default select example" required>
                <option selected disabled>Seleccionar</option>
                <option value="1">1</option>
                <option value="2">2</option>
              </select>
            </div>
          </div>
          <div class="col">
            <label for="Fecha" class="form-label" style="font-weight: bold;">Fecha</label>
            <input [(ngModel)]="crearRegis.fecha" name="fecha" type="date" class="form-control" id="Fecha" required (change)="actualizarNumeroSemana($event)">
          </div>
          <div class="col">
            <label for="Semana" class="form-label" style="font-weight: bold;">Semana</label>
            <input type="text" class="form-control" id="Semana" disabled [value]="numeroSemana">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="Departamento" class="form-label" style="font-weight: bold;">Departamento</label>
            <div class="input-group">
              <select [(ngModel)]="crearRegis.numerodp" name="numerodp" (change)="actualizarNoDepto()" class="form-select" id="Departamento" aria-label="Default select example" required>
                <option selected disabled>Seleccionar</option>
                <option *ngFor="let departamento of departamentos" [value]="departamento.numero">{{departamento.nombre}}</option>
              </select>
            </div>
          </div>
          <div class="col">
            <label for="NoDepto" class="form-label" style="font-weight: bold;">No Depto</label>
            <input type="text" class="form-control" id="NoDepto" [value]="numeroDeptoSeleccionado" disabled>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="Maquina" class="form-label" style="font-weight: bold;">Maquina</label>
            <select [(ngModel)]="crearRegis.codigomq" name="codigomq" (change)="actualizarCodMq()" class="form-select" id="Maquina" aria-label="Default select example" required>
              <option selected disabled>Seleccionar</option>
              <option *ngFor="let maquina of maquinas" [value]="maquina.codigo">{{maquina.nombre}}</option>
            </select>
          </div>
          <div class="col">
            <label for="CodMq" class="form-label" style="font-weight: bold;">Código Mq</label>
            <div class="input-group">
              <input type="text" class="form-control" id="CodMq" [value]="codigoMaquinaSeleccionado" disabled>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="Subensamble" class="form-label" style="font-weight: bold;">Subensamble</label>
            <select [(ngModel)]="crearRegis.numerop" name="numerop" (change)="actualizarNumPt()" class="form-select" id="Subensamble" aria-label="Default select example" required>
              <option selected disabled>Seleccionar</option>
              <option *ngFor="let parte of partes" [value]="parte.numero">{{parte.descripcion}}</option>
            </select>
          </div>
          <div class="col">
            <label for="NoParte" class="form-label" style="font-weight: bold;">No Parte</label>
            <div class="input-group">
              <input type="text" class="form-control" [value]="numParteSeleccionado" id="NoParte" disabled>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="inspec" class="form-label" style="font-weight: bold;">Pza Inspc</label>
            <input [(ngModel)]="crearRegis.pzainspc" name="pzainspc" type="number" class="form-control" id="inspec" required>
          </div>
          <div class="col">
            <form #rechaForm="ngForm">
              <label for="recha" class="form-label" style="font-weight: bold;">Pza Recha</label>
              <input type="number" class="form-control" id="recha" [(ngModel)]="rechaInput" required name="rechaInput">
            </form>
          </div>

          <div class="col">
            <form #retraForm="ngForm">
              <label for="retra" class="form-label" style="font-weight: bold;">Pza Retra</label>
              <input type="number" class="form-control" id="retra" [(ngModel)]="retraInput" required name="retraInput">
            </form>
          </div>

          <div class="col">
            <form #totalForm="ngForm">
              <label for="total" class="form-label" style="font-weight: bold;">Total Recha</label>
              <input type="number" class="form-control" id="total" required name="valorInput" [value]="valorInput" disabled>
            </form>
          </div>
        </div>
        <div class="row" id="botones">
          <button [disabled]="!form.valid || crearRegis.pzainspc === 0 || crearRegis === null" class="btn btn-primary" *ngIf="valorInput === null || valorInput <= 0" type="submit" id="btn">
            Registrar
          </button>
          <button (click)="resetaerDefectos()" id="btn" class="btn btn-primary" type="submit" *ngIf="valorInput != 0" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Defectos
          </button>
          <!--<p data-bs-toggle="modal" data-bs-target="#staticBackdrop">CLICK</p>-->
        </div>
      </form>
    </section>
  </section>
</body>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Defectos</h1>
        <!--<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
      </div>
      <div class="modal-body">
        <section class="listado">
          <section class="selector">
            <label for="defecto" class="form-label" style="font-weight: bold;">Agregar los Defectos</label>
            <!--<p>id del registro: {{idCalidad}}</p>-->
            <select class="form-select" id="defecto" [(ngModel)]="defectoSeleccionado" aria-label="Default select example">
              <option selected disabled>Seleccionar</option>
              <option *ngFor="let defecto of listaDefectos" [value]="defecto.tipodefecto">{{defecto.tipodefecto}}</option>
            </select>
          </section>
          <section class="boton">
            <button class="btn btn-primary" (click)="agregarDefecto()">Agregar</button>
          </section>
        </section>
        <section class="tabla-defecto">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Defecto</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody style="font-size: 13px;">
              <tr *ngFor="let defecto of defectosAgregados">
                <td>{{defecto.defecto}}</td>
                <td>
                  <svg style="cursor: pointer;" (click)="eliminarDefecto(defecto.id)" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#dc2626" d="m9.4 16.5l2.6-2.6l2.6 2.6l1.4-1.4l-2.6-2.6L16 9.9l-1.4-1.4l-2.6 2.6l-2.6-2.6L8 9.9l2.6 2.6L8 15.1zM7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21z"/></svg>
                </td>
              </tr>
              <tr *ngIf="defectosAgregados.length === 0">
                <td colspan="2">No hay defectos agregados</td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
        <button (click)="resetaerDefectos()" type="button" data-bs-dismiss="modal" class="btn btn-primary" [disabled]="defectosAgregados.length === 0">Registrar</button>
      </div>
    </div>
  </div>
</div>
