.contenedor{
  margin-top: 7%;
}
.formulario{
  margin: 0 5%;
}
#botones{
  margin-top: 1%;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

/*.btn{
  width: 30%;
}*/
#ver{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .contenedor{
    margin-top: 15%;
  }
  #botones{
    margin-top: 5%;
  }
  #ver{
    margin-top: 10%;
  }
  #btn{
    width: 100%;
  }
}
