.contenedor{
  margin-top: 7%;
}
.formulario{
  margin: 0 5%;
}
#botones{
  margin-top: 1%;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

/*.btn{
  width: 30%;
}*/
#ver{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*estilos para agregar los defectos*/
.modal-header{
  background-color: #005ba2;
  color: white;
}
.tabla-defectoRecha{
  background-color: rgba(255, 0, 0, 0.658);
  /*padding: 0 2%;
  margin-top: 5%;*/
}
.tabla-defectoRetra{
  background-color: rgba(4, 97, 9, 0.658);
}
.listado{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.boton{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .contenedor{
    margin-top: 18%;
  }
  #botones{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #botones #btn{
    width: 40%;
  }
  #ver{
    margin-top: 10%;
  }
  #btn{
    width: 100%;
  }
  select{
    font-size: 12px;
  }
  #Semana, #NoDepto, #CodMq, #NoParte{
    font-size: 13px;
  }
  .row .col-md-6 input{
    width: 100%;
  }
  #piezas{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  /*para la tabla de defectos*/
  .tabla-defectoRecha{
    margin-top: 5%;
    max-height: 650px;
  }
  .tabla-defectoRetra{
    margin-top: 5%;
    max-height: 650px;
  }
  .modal-content .modal-header{
    height: 50px;
  }
  .modal-body{
    padding: 5% 3%;
  }
}
