<body *ngIf="verFormulario">
  <section class="header">
    <app-header-movil></app-header-movil>
  </section>
  <section class="contenedor">
    <section class="formulario">
      <form (ngSubmit)="submit(form.value)" #form="ngForm">
        <div class="row">
          <div class="col">
            <label for="turno" class="form-label" style="font-weight: bold;">Turno</label>
            <select [(ngModel)]="crearRegis.turno" name="turno" class="form-select form-select-sm" id="turno" aria-label="Default select example" required>
              <option selected disabled>Seleccionar</option>
              <option value="1">1</option>
              <option value="2">2</option>
            </select>
          </div>
          <div class="col">
            <label for="fecha" class="form-label" style="font-weight: bold;">Fecha</label>
            <input [(ngModel)]="crearRegis.fecha" name="fecha" type="date" class="form-control form-control-sm" id="fecha" required (change)="actualizarNumeroSemana($event)">
          </div>
          <div class="col">
            <label for="semana" class="form-label" style="font-weight: bold;">Semana</label>
            <input type="text" class="form-control form-control-sm" id="semana" [value]="numeroSemana" disabled>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="departamento" class="form-label" style="font-weight: bold;">Departamento</label>
            <div class="input-group">
              <select [(ngModel)]="crearRegis.numerodp" name="numerodp" (change)="actualizarNoDepto()" class="form-select" id="departamento" aria-label="Default select example" required>
                <option selected disabled>Seleccionar</option>
                <option *ngFor="let departamento of departamentos" [value]="departamento.numero">{{departamento.nombre}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-6" id="movil-grid">
            <label for="numerodp" class="form-label" style="font-weight: bold;">Número</label>
            <input type="text" class="form-control form-control-sm" id="numerodp" [value]="numeroDeptoSeleccionado" disabled>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="maquina" class="form-label" style="font-weight: bold;">Máquina</label>
            <select [(ngModel)]="crearRegis.codigomq" name="codigomq" (change)="actualizarCodMq()" class="form-select" id="maquina" aria-label="Default select example" required>
              <option selected disabled>Seleccionar</option>
              <option *ngFor="let maquina of maquinas" [value]="maquina.codigo">{{maquina.nombre}}</option>
            </select>
          </div>
          <div class="col-md-6" id="movil-grid">
            <label for="codigomq" class="form-label" style="font-weight: bold;">Código</label>
            <input type="email" class="form-control form-control-sm" id="codigomq" [value]="codigoMaquinaSeleccionado" disabled>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label for="subensamble" class="form-label" style="font-weight: bold;">Subensamble</label>
            <select [(ngModel)]="crearRegis.numerop" name="numerop" (change)="actualizarNumPt()" class="form-select" id="subensamble" aria-label="Default select example" required>
              <option selected disabled>Seleccionar</option>
              <option *ngFor="let parte of partes" [value]="parte.numero">{{parte.descripcion}}</option>
            </select>
          </div>
          <div class="col-md-6" id="movil-grid">
            <label for="numerop" class="form-label" style="font-weight: bold;">Número</label>
            <input type="text" class="form-control form-control-sm" id="numerop" [value]="numParteSeleccionado" disabled>
          </div>
        </div>
        <div class="row" id="cantidades">
          <div class="col-md-6">
            <label for="pzaInsp" class="form-label" style="font-weight: bold;">Pza Inspeccionadas</label>
            <input [(ngModel)]="pzainspInput" name="pzaInsp" type="number" class="form-control form-control-sm" id="pzaInsp" required>
          </div>
          <div class="col-md-6" >
            <label for="pzaScrap" class="form-label" style="font-weight: bold;">Pza Scrap</label>
            <input type="number" class="form-control form-control-sm" id="pzaScrap" [(ngModel)]="rechaInput" required name="pzaScrap">
          </div>
        </div>
        <div class="row" id="cantidades">
          <div class="col-md-6">
            <label for="pzaRetra" class="form-label" style="font-weight: bold;">Pza Retrabajo</label>
            <input type="number" class="form-control form-control-sm" id="pzaRetra" [(ngModel)]="retraInput" required name="pzaRetra">
          </div>
          <div class="col-md-6">
            <label for="total" class="form-label" style="font-weight: bold;">Total Rechazadas</label>
            <input type="number" class="form-control" name="total" id="total" required name="valorInput" [value]="valorInput" disabled>
          </div>
        </div>
        <div class="row" id="botones">
          <button [disabled]="!form.valid || pzainspInput === 0" class="btn btn-primary" *ngIf="valorInput === null || valorInput <= 0" type="submit" id="btn" style="font-size: 15px;">
            Registrar
          </button>
          <button [disabled]="!form.valid || pzainspInput === 0" id="btn" class="btn btn-primary" type="submit" *ngIf="valorInput != 0" style="font-size: 15px;">
            Defectos
          </button>
        </div>
      </form>
    </section>
  </section>
</body>
<!-- Modal -->
<!--Vista para añadir los defectos-->
<body *ngIf="verDefectos">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="staticBackdropLabel">Defectos</h1>
    </div>
    <div class="modal-body">
      <section class="listado">
        <section class="selector">
          <select class="form-select" id="defecto" [(ngModel)]="defectoSeleccionado" aria-label="Default select example">
            <option selected disabled>Seleccionar</option>
            <option *ngFor="let defecto of listaDefectos" [value]="defecto.tipodefecto">{{defecto.tipodefecto}}</option>
          </select>
        </section>
        <section class="boton">
          <button *ngIf="verComponentesRecha ===true" class="btn btn-danger" (click)="agregarDefecto('Rechazado')" style="font-size: 12px;">Scrap</button>
          <button *ngIf="verComponentesRetra === true" class="btn btn-success" (click)="agregarDefecto('Retrabajo')" style="font-size: 12px;">Retrabajo</button>
        </section>
      </section>
      <section class="tabla-defectoRecha" *ngIf="verComponentesRecha ===true">
        <label for="titulo" style="font-weight: bold; color: white;">Scrap</label>
        <table class="table table-hover">
          <tbody style="font-size: 12px;">
            <tr *ngFor="let defecto of defectosAgregados">
              <td>{{defecto.defecto}}</td>
              <td>
                <!--<svg style="cursor: pointer;" (click)="eliminarDefecto(defecto.id)" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#dc2626" d="m9.4 16.5l2.6-2.6l2.6 2.6l1.4-1.4l-2.6-2.6L16 9.9l-1.4-1.4l-2.6 2.6l-2.6-2.6L8 9.9l2.6 2.6L8 15.1zM7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21z"/></svg>-->
                <button class="btn btn-danger" (click)="eliminarDefecto(defecto.id)" style="font-size: 12px;">
                  eliminar
                </button>
              </td>
            </tr>
            <tr *ngIf="defectosAgregados.length === 0">
              <td colspan="3">No hay defectos agregados</td>
            </tr>
          </tbody>
        </table>
      </section>
      <!--Defectos retrabajo-->
      <section class="tabla-defectoRetra" *ngIf="verComponentesRetra === true">
        <label for="titulo" style="font-weight: bold; color: white;">Retrabajo</label>
        <table class="table table-hover">
          <tbody style="font-size: 12px;">
            <tr *ngFor="let defecto of defectosAgregados2">
              <td>{{defecto.defecto}}</td>
              <td>
                <!--<svg style="cursor: pointer;" (click)="eliminarDefecto(defecto.id)" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="#dc2626" d="m9.4 16.5l2.6-2.6l2.6 2.6l1.4-1.4l-2.6-2.6L16 9.9l-1.4-1.4l-2.6 2.6l-2.6-2.6L8 9.9l2.6 2.6L8 15.1zM7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21z"/></svg>-->
                <button class="btn btn-danger" (click)="eliminarDefecto(defecto.id)" style="font-size: 12px;">
                  eliminar
                </button>
              </td>
            </tr>
            <tr *ngIf="defectosAgregados2.length === 0">
              <td colspan="3">No hay defectos agregados</td>
            </tr>
          </tbody>
        </table>
      </section>
      <div class="modal-footer">
        <button class="btn btn-primary" [disabled]="(pzaRetraEstatico !== 0 && defectosAgregados2.length === 0)||(pzaRechaEstatico !== 0 && defectosAgregados.length === 0)" (click)="comportamientoVista2(true)">Siguiente</button>
      </div>
    </div>
  </div>
</body>
<!--Vista para añadir la cantidad de piezas-->
<body *ngIf="verCantidad">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Cantidad de Piezas</h1>
    </div>
    <div class="modal-body">
      <section class="valorInput">
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <label for="piezas" class="col-form-label" style="font-weight: bold;">Piezas:</label>
          </div>
          <div class="col-auto">
            <input type="number" class="form-control" id="cantidad" [(ngModel)]="cantidadInput" required name="cantidadInput">
          </div>
        </div>
      </section>
      <section class="tabla-defectoRecha" *ngIf="verComponentesRecha ===true">
        <label for="titulo" style="font-weight: bold; color: white;">Scrap: {{pzaRechaEstatico}}</label>
        <table class="table table-hover table-responsive">
          <thead style="font-size: 13px;">
            <tr>
              <th scope="col">Defecto</th>
              <th scope="col">Pzas</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody style="font-size: 12px;">
            <tr *ngFor="let defecto of defectosAgregados">
              <td>{{defecto.defecto}}</td>
              <td>{{defecto.cantidad}}</td>
              <td>
                <!--<svg style="cursor: pointer;" (click)="addValor(defecto.id)" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#0284c7" d="M4 6H2v14c0 1.1.9 2 2 2h14v-2H4zm16-4H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2m-1 9h-4v4h-2v-4H9V9h4V5h2v4h4z"/></svg>-->
                <button class="btn btn-primary"(click)="addValor(defecto.id)" style="font-size: 15px;">
                  asignar
                </button>
              </td>
            </tr>
            <tr *ngIf="defectosAgregados.length === 0">
              <td colspan="3">No hay defectos agregados</td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="tabla-defectoRetra" *ngIf="verComponentesRetra === true">
        <label for="titulo" style="font-weight: bold; color: white;">Retrabajo: {{pzaRetraEstatico}}</label>
        <table class="table table-hover">
          <thead style="font-size: 13px;">
            <tr>
              <th scope="col">Defecto</th>
              <th scope="col">Pzas</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody style="font-size: 12px;">
            <tr *ngFor="let defecto of defectosAgregados2">
              <td>{{defecto.defecto}}</td>
              <td>{{defecto.cantidad}}</td>
              <td>
                <!--<svg style="cursor: pointer;" (click)="addValor(defecto.id)" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path fill="#0284c7" d="M4 6H2v14c0 1.1.9 2 2 2h14v-2H4zm16-4H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2m-1 9h-4v4h-2v-4H9V9h4V5h2v4h4z"/></svg>-->
                <button class="btn btn-primary" (click)="addValor(defecto.id)" style="font-size: 12px;">
                  asignar
                </button>
              </td>
            </tr>
            <tr *ngIf="defectosAgregados2.length === 0">
              <td colspan="3">No hay defectos agregados</td>
            </tr>
          </tbody>
        </table>
      </section>
      <div class="modal-footer" id="Footer">
        <section class="regresar">
          <button type="button" class="btn btn-secondary" (click)="comportamientoVista1(true)" style="font-size: 15px;">Regresar</button>
        </section>
        <section class="registrar">
          <button [disabled]="habilitar" (click)="contarCantidad(idCalidad)" type="button" class="btn btn-primary" style="font-size: 15px;">Registrar</button>
        </section>
      </div>
    </div>
  </div>

</body>
